* {
  font-family: 'Inter', sans-serif;
}

.search-box {
  display: flex;
  align-items: center;
  margin: 30px 0 30px 0;
  width: 100%;
}

.search-box input {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ffffff;
  margin-right: 10px;
  font-size: 18px;
}

.search-box button {
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 18px;
}


.search-button {
  color: #a18aff;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

.show-all-button {
  background-color: #ffffff;
  margin-left: 10px;
  border: none;
  color: #a18aff;
  cursor: pointer;

}


@media (max-width: 768px) {
  .search-box input {
    padding: 8px;
    font-size: 16px;
  }

  .search-box button {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .search-box input {
    padding: 5px;
    font-size: 14px;
  }

  .search-box button {
    width: 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}