body {
  background-color: #a18aff;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
  max-width: 700px;
  margin: 30px auto;
  padding: 20px;
  position: relative;
  display: flex;
  justify-content: center;
}

.App {
  width: 100%;
  padding: 20px;
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: #333;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  background-color: #a18aff;
  border: 5px solid #ffffff;
  position: relative;
  height: 570px;
  box-sizing: border-box;
}

.add-button {
  font-size: 25px;
  background-color: transparent;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: none;
  cursor: pointer;
  color: #ffffff;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  width: 400px;
  max-width: 100%;
  position: relative;
}

.close-button {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 40px;
  cursor: pointer;
}

.modal-title {
  margin-bottom: 20px;
  text-align: center;
}

.cancel-button {
  background-color: #e74c3c;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.modal-footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.circle-shape {
  position: absolute;
  top: -50px;
  left: -50px;
  width: 110px;
  height: 110px;
  background-color: #3fd4f4;
  border-radius: 50%;
  z-index: 0;
}

.semi-circle-shape {
  position: absolute;
  bottom: 50px;
  right: -95px;
  width: 90px;
  height: 180px;
  background-color: #fac608;
  border-radius: 0 100px 100px 0;
  z-index: 0;
}

@media (max-width: 768px) {

  .container {
    max-width: 80%;
  }

  .App {
    margin: 10px auto;
    padding: 15px;
  }

  .circle-shape {
    top: -40px;
    left: -45px;
    width: 90px;
    height: 90px;
  }

  .semi-circle-shape {
    bottom: 70px;
    right: -75px;
    width: 70px;
    height: 140px;
  }

  .add-button {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 80%;
  }

  .App {
    margin: 0 auto;
    padding: 10px;
    height: 500px;
  }

  .circle-shape {
    top: -30px;
    left: -30px;
    width: 70px;
    height: 70px;
  }

  .semi-circle-shape {
    bottom: 50px;
    right: -55px;
    width: 50px;
    height: 100px;
  }

  .add-button {
    font-size: 18px;
    ;
  }
}